.label {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input {
  display: block;
  width: 220px;
  padding: 5px;
}